.NavBar {
  text-align: center;
}

.NavBar a {
  margin-right: 10px;
}

.App {
  text-align: center;
  justify-content: center;
  width: 300px;
  border: 1px solid black;
}

.Component {
  width: 50%;
  margin: 0 auto;
}

.App div {
  justify-content: center;
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
}